*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.wrapper{
    margin:20px 20px;
    width:100%;
    text-align: center;
    
}
.main{
    text-align: center;
    width:100%;
    float:center;
    height:100vh;
    background-image: url("nature1.jpg");
    background-size: 100%;
    overflow:hidden;
}
.nav{
    align-items: center;
    justify-content: center;
    width:100%;
    float:left;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    display:flex ;
}
ul{
    text-align: center;
    list-style-type: decimal;
    overflow: visible;
    display: block;
    border: 1px solid;
    float:left;
    width:700px;
}
li{
    float:left;
}
li:last-child{
    border-right: none;
}

a{
    display: block;
    color:#fff;
    text-align: center;
    padding:24px 56px;
    text-decoration: none;
    font-size: 24px;
}
a:hover{
    background-color:pink;
    color:#333;
}
.search{
    float:right;
}
.search input{
    width:300px;
    height:30px;
    margin: 20px 20px 0px 0px;
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: rgba(255,255,255,.2);
    opacity:.5;
    padding-left: 20px;
    color:#fff;
    font-size:18px;

}
.search i.fa-solid {
    color:#fff;
    font-size: 18px;
    margin:5px 50px 0px 0px;
}
.content{
    width:100%;
    float: left;
}
article{
    width:13.5%;
    margin-left: 10%;
    background-color:rgba(255,255,0,.25);
    color:#000;
    display: block;
    float:left;
    text-align: center;
    padding:50px 50px 0px 50px;
    margin-top:150px;
    height:800px;
    font-size: 18px;
    border-radius:40px 40px 0px 0px;
}
article p,article h1{
    margin-top: 20px;
}
article:hover{
    background-color: antiquewhite;
    color:#000;
    margin-top: 200px;
}
article i.fa-solid{
    font-size: 50px;
}